.chat{
    font-weight: bolder;
}
.Orders_pack{
    margin-right: 30px;
}
.account_pack{
    margin-right: 20px;
}
.settings_pack{
    margin-right: 20px;
}
.chat_pack{
    margin-right: 20px;
}
.FAQ_pack{
    margin-right: 20px;
}